@mixin position($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

@font-face {
  font-family: 'steps-monoregular';
  src: url('../fonts/steps-mono-webfont.woff2') format('woff2'),
       url('../fonts/steps-mono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'youngserifregular';
    src: url('../fonts/youngserif-regular-webfont.woff2') format('woff2'),
         url('../fonts/youngserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main-wrapper {
  border: 10px solid black;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

a {
  color: black;
  line-height: 1.4em;
  text-decoration: none;

  &:hover {
    color: #7CFC00;
  }

  h3 {
    text-decoration: underline;
  }
}

.all-categories {
  border: 3px dotted #7CFC00;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
  background: white;
  min-height: calc(100vh - 20px);
  position: relative;
  background: black;

  a {
    color: white;
    font-size: .9675rem;
    font-family: 'Overpass Mono', monospace;
    position: relative;
    z-index: 10;
    width: 100%;
    padding: 20px;
    text-decoration: underline;
    &:hover {
      color: yellow;
    }
  }

  .category-link {
    // &:first-child{ @include position(10%, 50%)}
    // &:nth-child(2){ @include position(30%, 80%)}
    // &:nth-child(3){ @include position(80%, 3%)}
  }
}

h2 {
  font-size: 2.25rem;
  margin-bottom: 40px;
  font-family: 'Overpass Mono', monospace;
  position: relative;
  z-index: 10;
}


h3 {
  font-size: 2rem;
  // font-family: 'steps-monoregular';
  font-family: 'Overpass Mono', monospace;
}

h4 {
  font-size: 1.125em;
  padding: 5px;
  margin-bottom: 10px;
  font-family: 'steps-monoregular';
  font-family: 'Overpass Mono', monospace;
  // font-family: 'youngserifregular';
}

span.date {
  display: block;
  color: #7B68EE;
  font-family: 'Overpass Mono', monospace;
  // font-family: 'steps-monoregular';
  margin-bottom: 10px;
  text-decoration: none !important;
}
ul {
  padding-left: 30px;
  margin-bottom: 10px;
}
p,
ul li {
  font-size: 1.125rem;
  font-family: 'Overpass', sans-serif;
  line-height: 1.5em;
  position: relative;
  z-index: 10;
  margin-bottom: 10px;
}
.body-text {
  padding-left: 30px;
  max-width: 70%;
}
ul {
  list-style: circle;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
blockquote {
  padding-left: 20px;
  font-style: italic;
  color: #565656;
  margin-bottom: 20px;
}
p img {
  display: block;
  width: 100%;
}
.container {
  border: 3px dotted #7CFC00;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  background: white;

  position: relative;

  img.some-image {
    width: 10%;
    margin: 0 0 50px 0;
    display: block;
    position: absolute;
    right: 42px;
    top: 42px;
    z-index: 2;
  }
}

.category {
  border: 3px dotted #7CFC00;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;

  .post-item {
    padding-left: 20px;

    h3 {
      font-size: 1.1em;
    }
  }
}

.post-wrapper {
  padding: 20px;
  img {
    width: 40%;
    margin: 0 auto 30px auto;
    display: block;
  }
}
