.main-wrapper {
  border: 10px solid black;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
a {
  color: black;
  &:hover {
    color: #7CFC00;
  }
}
.all-categories {
  border: 3px dotted #7CFC00;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
  background: white;
  min-height: calc(100vh - 20px);
  position: relative;
  background: black;

  a {
    color: white;
    font-size: 1.5rem;
    font-family: 'steps-monoregular';
    position: relative;
    z-index: 10;
    width: 33.33%;
    padding: 20px;
    &:hover {
      color: yellow;
    }
  }
}
.container {
  border: 3px dotted #7CFC00;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  background: white;
  min-height: calc(100vh - 20px);
  position: relative;

  h2 {
    font-size: 2.25rem;
    margin-bottom: 40px;
    font-family: 'steps-monoregular';
    position: relative;
    z-index: 10;
  }

  img {
    height: 40%;
    margin: 0 0 50px 0;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    right: -42px;
    top: -42px;
    z-index: 2;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.125em;
    padding: 5px;
    margin-bottom: 10px;
    font-family: 'youngserifregular';
  }

  span.date {
    display: block;
    color: #7B68EE;
    font-family: 'steps-monoregular';
    margin-bottom: 10px;
  }
  ul {
    padding-left: 30px;
    margin-bottom: 10px;
  }
  p,
  ul li {
    font-size: 1.125rem;
    font-family: 'IBM Plex Sans', sans-serif;


    line-height: 1.5em;
    position: relative;
    z-index: 10;

  }
  .body-text {
    padding-left: 30px;
    max-width: 70%;
  }
  ul {
    list-style: circle;
  }
}

.category {
  border: 3px dotted #7CFC00;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;

  h2 {
    font-size: 2.25rem;
    margin-bottom: 40px;
    font-family: 'steps-monoregular';
    position: relative;
    z-index: 10;
  }
  h3 {
    font-size: 1.25rem;
    margin-bottom: 40px;
    font-family: 'steps-monoregular';
    position: relative;
    z-index: 10;
  }
  span.date {
    display: block;
    color: #7B68EE;
    font-family: 'steps-monoregular';
    margin-bottom: 10px;
  }
}

@font-face {
  font-family: 'steps-monoregular';
  src: url('../fonts/steps-mono-webfont.woff2') format('woff2'),
       url('../fonts/steps-mono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'youngserifregular';
    src: url('../fonts/youngserif-regular-webfont.woff2') format('woff2'),
         url('../fonts/youngserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
